{% extends 'page.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block content %}
        <h1>Савети за децу</h1>
        <p>Интернет је непрегледан свемир знања, забаве, игара.</p>
        <p>
          Путуј кроз тај свемир паметно и сачувај се од замки које постоје на
          сваком путу до неистражених галаксија.
        </p>
        <p>
          Као и у стварном свету, и на Интернету има недобронамерних и опасних
          људи од којих се треба заштитити.
        </p>
        <p class="highlight"><strong>Зато КЛИКНИ ПАМЕТНО!</strong></p>

        <a href="#">
          <img
            src="{{ asset('images/karakondzulica11.gif') }}"
            alt="Pametan klik za roditelje"
          />
        </a>

        <a href="#">
          <img
            src="{{ asset('images/mala maja nasmejana.gif') }}"
            alt="Pametan klik za roditelje"
          />
        </a>
{% endblock %}