<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ 'Pametan klik'|trans }} - {% block title %}Saveti{% endblock %}</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="icon" type="image/png" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <button class="menu-toggle">☰</button>

    <nav class="nav-menu">
      <ul>
{% include '_includes/nav_top_kids.html.twig' %}
      </ul>
    </nav>

        <header>
            {% include '_includes/languageSwitcher.html.twig' %}  
        </header>

    <main class="container2">
      <aside class="sidebar">
        {% include '_includes/sidebar.html.twig' %}
      </aside>

      <section class="content">
        {% block content %}{% endblock %}
      </section>

      <aside class="game">
        <a href="http://www.wildwebwoods.org/popup.php?lang=cs" target="_blank">
          <img src="{{ asset('images/www.gif') }}" alt="Игрица" />
        </a>
        <a href="{{path('home')}}" target="_blank">
          <img
            src="{{ asset('images/mala-maja-nasmejanaRod.gif') }}"
            alt="Pametan klik za roditelje"
          />
        </a>
      </aside>
    </main>

    <!-- Footer -->
    <footer>
    {% include '_includes/footer.html.twig' %}
    </footer>
    <!-- Scripts -->
    <script src="../../js/scripts.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Selektovanje hamburger menija i navigacije
        const menuToggle = document.querySelector(".menu-toggle");
        const navMenu = document.querySelector(".nav-menu");

        // Provera da li elementi postoje pre dodavanja event listenera
        if (menuToggle && navMenu) {
          menuToggle.addEventListener("click", function () {
            navMenu.classList.toggle("active"); // Dodaje/uklanja klasu 'active'
          });
        }
      });
    </script>
  </body>
</html>
